---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Oops"
	description="Lorem ipsum dolor sit amet"
	heroImage="/blog-placeholder-about.jpg"
>
<p>Sorry, looks like we've moved this page or it doesn't have any content.  Please use the navigation to try and find what you're looking for.</p>
</Layout>
