---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}	
	heroImage="/blog-placeholder-about.jpg"
>
<p>I&#39;m Steven Fewster and this is my blog.  I&#39;m using it as a sounding board and personal blog to remind myself of my thoughts, travels and record what interests me.</p>
<p>I have been involved professionally in Web development and associated technologies since 2001.  During that time my skill set has improved as the medium has matured and my technical input has been sought on a wide range of projects requiring focus on usability, accessibility and standards.
At IG I was able to further my skillset by taking on the management role of Head of Public Sites, building a team of 12 developers comprising Front End, Flash and Middleware and occasional stewardship of SEO and Analytics teams.  During this period I was able to influence development practices and techniques and liaise with all areas of the business to create truly world class mobile and desktop websites focused on acquisition and retention.</p>
</Layout>
