---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Contact Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}	
	heroImage="/blog-placeholder-about.jpg"
>
<p><strong>Thanks for dropping by!</strong>
    I've lots of interests in lots of things so if you want to "speak your brains" about something I've covered, or better still an idea for the next facebook that you want me to help build, I'd love to hear from you on my social media channels.</p>
    </Layout>