---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Contact Me"
	description="Leave feedback about this website or contact me directly using one of the social media channels shown in the header"
	date={new Date('August 08 2021')}	
	heroImage="/blog-placeholder-about.jpg"
>
<p><strong>Thanks for dropping by!</strong>
    I've lots of interests in lots of things so if you want to "speak your brains" about something I've covered, or better still an idea for the next facebook that you want me to help build, I'd love to hear from you on my social media channels.</p>

	<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSftcScwhWTEl_4fc_G738hfNNEwzEPuyWZXqTyUD22gJsKECA/viewform?embedded=true" width="780" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

    </Layout>