---
import SocialLinks from "./SocialLinks.astro";
const today = new Date();
---

<footer class="text-gray-600 body-font">
  <div
    class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
  >
    <p class="flex text-sm text-gray-500 leading-8 sm:py-0 sm:mt-0 mt-4 md:w-logo">
      <a
        href="/"
        class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
      >
        <img
          src="/favicon-32x32.png"
          class="rounded-full mr-3"
          height="32"
          width="32"
          alt="Logo for stevenfewster.com website"
        />
      </a> &copy;{today.getFullYear()}
    </p>
    <div class="hidden sm:inline-flex sm:ml-auto justify-center">
      <a class="mx-3 hover:underline" href="/about/">About</a>
      <a class="mx-3 hover:underline" href="/contact/">Contact</a>
    </div>
    <SocialLinks />
  </div>
</footer>
