---
import SocialLinks from "./SocialLinks.astro";
const today = new Date();
---

<footer class="text-gray-600 body-font container px-5 py-8 mx-auto">
  <div
    class="flex"
  >
    <p class="flex basis-1/3 text-sm text-gray-500 leading-8 sm:py-0 sm:mt-0 mt-4 md:w-logo">
      <a
        href="/"
        class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
      >
        <img
          src="/favicon-32x32.png"
          class="rounded-full mr-3"
          height="16"
          width="16"
          alt="Logo for stevenfewster.com website"
        /> &copy;{today.getFullYear()}
      </a>
    </p>
    <div class="text-base basis-1/3 flex justify-center">
      <a class="mx-3 hover:underline" href="/about/">About</a>
      <a class="mx-3 hover:underline" href="/contact/">Contact</a>
    </div>
    <div class="basis-1/3 flex justify-end">
      <SocialLinks />
    </div>
  </div>
</footer>
