---
import HeaderLink from './HeaderLink.astro';
import SocialLinks from './SocialLinks.astro';
import { SITE_TITLE } from '../consts';

---
<header class="text-gray-600 body-font container mx-auto flex flex-wrap py-3 md:p-5 flex-col md:flex-row items-center">
	  <a  href="/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
		<img src="/favicon-32x32.png" class="rounded-full" height="32" width="32" alt="Logo for stevenfewster.com website" />
		<span class="ml-3 text-xl">{SITE_TITLE}</span>
	  </a>
	  <nav class="flex flex-grow justify-center">
		<HeaderLink href="/code">Code</HeaderLink>
		<HeaderLink href="/projects">Projects</HeaderLink>
		<HeaderLink href="/cocktails">Cocktails</HeaderLink>
		<HeaderLink href="/editorials">Editorials</HeaderLink>
	  </nav>
	  <div style="min-width: 182px">
		<SocialLinks />
	  </div>
  </header>

<style>
</style>
