---
import HeaderLink from "./HeaderLink.astro";
import SocialLinks from "./SocialLinks.astro";
import { SITE_TITLE } from "../consts";
const hide = {
  twitter: true,
  rss: true,
};
---

<header
  class="body-font container mx-auto flex flex-col flex-wrap items-center py-3 text-gray-600 md:flex-row md:p-5"
>
  <a
    href="/"
    class="title-font mb-4 flex items-center font-medium text-gray-900 md:mb-0"
  >
    <img
      src="/favicon-32x32.png"
      class="rounded-full"
      height="32"
      width="32"
      alt="Logo for stevenfewster.com website"
    />
    <span class="ml-3 text-xl">{SITE_TITLE}</span>
  </a>
  <nav class="flex flex-grow justify-center">
    <HeaderLink href="/code/">Code</HeaderLink>
    <HeaderLink href="/project-list/">Projects</HeaderLink>
    <HeaderLink href="/cocktails/">Cocktails</HeaderLink>
    <HeaderLink href="/editorials/">Editorials</HeaderLink>
  </nav>
  <div style="min-width: 182px" class="flex justify-end">
    <SocialLinks hide={hide} />
  </div>
</header>

<style></style>
