---
const { href } = Astro.props;
---ƒ

<a
  class="mx-3 text-gray-500 before:block before:absolute before:-inset-1 before:-skew-y-2 before:-skew-x-1 before:hover:bg-wedgewood-400 hover:text-white relative inline-block"
  href={href}
>
  <span class="relative"><slot /></span>
</a>
