---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import CategoryLink from '../components/CategoryLink.astro';
import ArticleTitle from '../components/ArticleTitle.astro';
import ReviewTitle from '../components/ReviewTitle.astro';
import { getImage } from 'astro:assets';

type Props = CollectionEntry<'BlogPosts'>['data'];

const { title, description, type, meta, date, updatedDate, category, attr } = Astro.props;
let cover;
if (Astro.props.cover) {
	cover = await getImage({
		src: Astro.props.cover,
		width: 1020,
		height: 510
	});
}
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="container mx-auto text-center ">
					<CategoryLink post={ { data: Astro.props }} />
				</div>
				<div class="container mx-auto prose lg:prose-xl px-3">
					{ type && type == 'Book Review' &&
						<ReviewTitle {...Astro.props } {cover} /> }
					{ (!type || type != 'Book Review') &&
						<ArticleTitle {...Astro.props } {cover} /> }
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
